.App {
  max-width: 70rem;
  margin: 10rem auto;
}

button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #4c5baf;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnDiv {
  width: 100%;
  text-align: center;
}
